@font-face {
    font-family: FiraCode;
    src: url(FiraCode-Regular.woff);
}

* {
    --text: #ffffff;
    --background: #232a36;
    --primary-button: #bd93f9;
    --secondary-button: #6272a4;
    --accent: #50fa7b;
}

a {
    background-color: var(--primary-button);
    color: var(--accent);
}

a:link {
    background-color: var(--primary-button);
}
a:visited {
    background-color: var(--secondary-button);
}

a:active {
    background-color: var(--text);
}

html {
    font-family: FiraCode, monospace;
    font-size: 16px;
}

hr {
    width: 80%;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(12px + 6 * ((100vw - 320px) / 680));
    }
    body {
        margin: 2em auto;
    }
    hr {
        width: 100%;
    }
}

body {
	background-color: var(--background);
    color: var(--text);
    max-width: 720px;
    margin: 2em auto;
    align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: var(--primary-button);
    color: var(--text);
}

.menu li a:active {
    background-color: calc(var(--text) - 50%);
}
