<nav id="nav" class="nav justify-content-center">
    <div class="flex-navigation">
        <a href="/"><img class="logo" src="/images/website-logo-bw-square.png"></img></a>
        <ul class="list-navigation">
            <li>
                <a id="menu-item" href="/posts">
                    POSTS
                </a>
            </li>
            <li id="menu-item">
                <a id="menu-item" href="/projects">
                    PROJECTS
                </a>
            </li>
            <li id="menu-item">
                <a id="menu-item" href="/about">
                    ABOUT
                </a>
            </li>
            <li id="menu-item">
                <a id="menu-item" href="/resume">
                    RESUME
                </a>
            </li>
        </ul>
    </div>
</nav>
