<div class="project-box"
    style="flex-basis: 280px; flex-grow: 1; flex-shrink: 0; border: 1px solid black;">
    <img class="Image1"
        style="width: 100%; height: 200px; 
        border-bottom: 1px black solid"
        src="http://placekitten.com/500/300" />
    <h1 class="ProjectName"
        style="color: black; font-size: 24px; 
        font-weight: 700;">
        {{ .Title }}
    </h1>
    <p class="Summary"
        style="color: black; font-size: 18px; 
        font-weight: 400;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <a href="" class="ReadMore">
        View project...
    </a>
</div>
